{% extends "base.html" %}
{% block content %}
<form method="POST">{% csrf_token %}
        <center>
            <input type="hidden" name="selected_jedi" value="{{selected_jedi}}">
            <h2>List of candidates</h2>
            <table>
                <tr><th>Name</th><th>Age</th><th>Test</th><th>email</th></tr>
                {% csrf_token %}
                {% for candidate in list_candidates %}
                <tr>
                    <td>{{ candidate.name }}</td>
                    <td>{{ candidate.age }}</td>
                    <td><a href="">Result</a></td>
                    <td>{{ candidate.email }}</td>
                    <td><a href="">Take in student</a></td>
                </tr>
                {% endfor %}
            </table>
        </center>
</form>
{% endblock %}